@if (IsLoading)
{
    <div class="d-flex align-items-center justify-content-center my-4">
        <div class="spinner-border text-primary" role="status"></div>
        <span class="ms-2">Ładowanie danych...</span>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}